@import "tailwindcss";

@layer base {
  html,
  body {
    @apply dark:bg-black min-h-screen;
  }
}

@layer components {
  .btn-unlocked {
    @apply text-xs text-black dark:bg-zinc-200 px-2.5 py-1.5 rounded hover:dark:bg-zinc-300 flex items-center gap-2 cursor-pointer;
  }

  .btn-locked {
    @apply text-xs text-black dark:bg-zinc-200 px-2.5 py-1.5 rounded disabled:opacity-50 flex items-center gap-2 disabled:cursor-not-allowed;
  }

  .navigation-bar {
    @apply font-semibold dark:text-zinc-100 hover:dark:text-zinc-300;
  }
}
